.header {
    background-color: $primaryColor;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    justify-items: center;

    &-logoHeader {
        img {
            width: 100%;
            height: auto;
        }
    }

    &-buscador-form-container {
        background-color: white;
        border-radius: 3.5rem;
        padding: 1rem;
        text-align: center;
        font-size: 0;

        &-selectCategories {
            border-style: none;
            display: inline-block;
            vertical-align: middle;
            padding: 5px;
            margin: 0;
            background: transparent;
        }

        &-search {
            display: inline-block;
            vertical-align: middle;
            padding: 10px;
            border: none;
            margin: 0 10px;
        }

        &-button {
            background-color: white;
            border: none;
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &-cartAndProfile {
        display: flex;
        align-items: center;
        margin-left: 2rem;

        &-displayIcon {
            a {
                display: inline-flex;
                align-items: center;
                font-size: 2rem;
                justify-content: space-between;
                text-decoration: none;
                color: black;

                span {
                    font-size: 2.5rem;
                }
            }
        }

        &-login {
            margin-left: 2rem;

            a {
                text-decoration: none;
                color: black;
                .button-header {
                    background-color: transparent;
                    padding: 1.5rem 1rem 1.5rem 1rem;
                    border-radius: 3.5rem;
                    border: 1px solid black;
                    font-size: 1.3rem;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        background-color: $hoverColor;
                        border: none;
                        color: white;
                    }
                }

                span {
                    font-size: 2.5rem;
                }
            }
        }

        &-user {
            display: flex;
            align-items: center;
            font-size: 2rem;
            cursor: pointer;

            span {
                margin-left: 1rem;
            }
        }
    }
}
