.button {

    &-addToCart {
        background-color: $primaryColor;
        border: none;
        border-radius: 2rem;
        padding: 0.5rem;
        margin: 1rem;
        width: -webkit-fill-available;

        &:hover:enabled {
            background-color: $hoverColor;
            color: white;
        }
    }

    &-LogIn {
        background-color: $primaryColor;
        border: none;
        border-radius: 2rem;
        padding: 1rem;

        &:hover:enabled {
            background-color: $hoverColor;
            color: white;
        }
    }

    &-form {
        background-color: $primaryColor;
        border: none;
        border-radius: 2rem;
        padding: 1rem;
        width: 29rem;

        &:hover:enabled {
            background-color: $hoverColor;
            color: white;
        }
    }

    &-changeProfile {
        background-color: $primaryColor;
        border: none;
        border-radius: 2rem;
        padding: 1rem;
        margin-bottom: 1rem;

        &:hover:enabled {
            background-color: $hoverColor;
            color: white;
        }
    }

    &-newShop {
        background-color: $primaryColor;
        border: none;
        border-radius: 2rem;
        padding: 0.5rem;
        margin-bottom: 1rem;

        &:hover:enabled {
            background-color: $hoverColor;
            color: white;
        }
    }

    &-landing {
        background-color: transparent;
        border: 1px solid black;
        border-radius: 2rem;
        padding: 1.2rem 5rem 1.2rem 5rem;

        &:hover:enabled {
            background-color: $hoverColor;
            color: white;
            border: none;
        }
    }

    &-error {
        background-color: $primaryColor;
        border: none;
        border-radius: 3rem;
        padding: 2rem;
        min-width: 3rem;

        &:hover:enabled {
            background-color: $hoverColor;
            color: white;
        }
    }
}