.button {

    &-addToCart {
        background-color: $primaryColor;
        border: none;
        border-radius: 2rem;
        padding: 0.5rem;
        width: 100%;

        &:hover:enabled {
            background-color: #576DA5;
            color: white;
        }
    }

    &-LogIn {
        background-color: $primaryColor;
        border: none;
        border-radius: 2rem;
        padding: 1rem;

        &:hover:enabled {
            background-color: #576DA5;
            color: white;
        }
    }
    &-form{
        background-color: $primaryColor;
        border: none;
        border-radius: 2rem;
        padding: 1rem;
        width: 29rem;

        &:hover:enabled {
            background-color: #576DA5;
            color: white;
        }
    }
}