
.error{
    display: grid;
    padding: 5rem;
    font-size: 2rem;
    justify-items: center;
    &-image{
        img{
            height: auto;
            width: 100%;
        }
    }
    &-message{
        p{
            color: red;
        }
        margin-bottom: 2.5rem;
    }
}