@use "./utils.scss" as utils;

header {
    background: utils.$primaryColor;
    width: fit-content;
    min-width: 100%;
    display: grid;
    grid-template-columns: 0.1fr auto 0.2fr;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.logoHeader {
    grid-column: 1;
    justify-self: start;
    height: 14rem;
    width: 12rem;
    //padding-left: 2rem;
    img {
        width: 12rem;
        height: auto;
        padding: 1rem;
    }
}

.buscador {
    background-color: white;
    border-radius: 3.5rem;
    padding: 1rem 3rem 1rem 3rem;
    margin: 4rem;
    grid-column: 2;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 80%;
    min-width: 10%;
}

.cartAndProfile {
    grid-column: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2rem;
}

.displayIcon {
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: space-between;
}
.user p {
    margin: 1rem;
}

.login button {
    background-color: utils.$primaryColor;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 3.5rem;
}

#selectCategories {
    padding: 0.5rem;
    border-style: none;
    margin-right: 1rem;
}

#search {
    padding: 0.5rem;
    border-style: none;
    width: 100%;
    margin-right: 1rem;
}
