.header {
    background-color: $primaryColor;
    //padding-left: 1rem;
    padding-right: 2rem;
    grid-area: header;
    display: grid;
    //grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.125rem;
    //grid-auto-flow: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
    &-logo {
        justify-self: center;

        //grid-column: 1 / 2;

        /* img {
        height: auto;
        width: auto;
      } */
    }

    &-buscador-form-container {
        //grid-column: 2 / 3;
        background-color: white;
        border-radius: 3.5rem;
        padding: 1rem 3rem 1rem 3rem;
        margin: 2rem 5rem 2rem 7rem;
        display: flex;
        justify-self: center;
        align-items: center;
        //width: 100%;
        /*&:focus-within {
        width: 100%;
        border-style: none;
      }*/

        &-selectCategories {
            padding: 0.5rem;
            border-style: none;
            margin-right: 1rem;
            background-color: white;
            //width: 100%;
            width: fit-content;
            //min-width: none;
        }

        &-search {
            padding: 0.5rem;
            border-style: none;
            margin-right: 1rem;
            //width: 100%;
            width: fit-content;
            min-width: 10rem;
        }

        &-button {
            // display: flex;
            //padding-right: 15rem;
            align-self: flex-end;
            align-items: center;
            background-color: transparent;
            border: none;
            position: sticky;
            cursor: pointer;
            span {
                font-size: 3rem;
            }
        }
    }

    &-cartAndProfile {
        display: flex;
        justify-content: center;
        align-items: center;

        &-displayIcon {
            a {
                display: flex;
                align-items: center;
                font-size: 2rem;
                justify-content: space-between;
                text-decoration: none;
                color: black;
            }

            &-shoppingCart {
                font-size: 3rem;
            }
        }

        &-login {
            margin-left: 2rem;
            a {
                display: inline-block;
                text-decoration: none;
                color: black;
                button {
                    background-color: transparent;
                    padding: 1.5rem 2rem 1.5rem 2rem;
                    border-radius: 3.5rem;
                    border: 1px solid black;
                    font-size: 1.3rem;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover {
                        background-color: $hoverColor;
                        border: none;
                        a {
                            color: white;
                        }
                    }
                }
            }
        }

        &-user {
            display: flex;
            align-items: center;
            font-size: 2rem;
            cursor: pointer;
            span {
                margin-left: 1rem;
            }
        }
    }
}
