@import "buttons";

.products-section {
    display: grid;

    // grid-template-rows: repeat(auto-fit, 30rem);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    margin: 1rem auto;
    gap: 3rem;

    justify-items: center;
    align-items: center;
}

.product {
    box-shadow: 0 2px 4px 0 rgba(37, 50, 56, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.15);
    list-style: none;
    border-radius: 1.6rem;
    // width: 20rem;
    a {
        text-decoration: none;
    }

    &-details {
        margin: 1rem;
    }

    &-image {
        text-align: center;
    }

    &-name {
        color: black;

        &::first-letter {
            text-transform: uppercase;
        }
    }
}

nav {
    margin: 3rem;
}
.pagination {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 5rem;

    li {
        border: 1px solid rgba(37, 50, 56, 0.05);
        padding: 0 2rem 0 2rem;
    }
}

