.landing {
    &-card {
        padding: 3vh 10vw 3vh 10vw;
        text-align: center;

        margin-bottom: 2rem;

        &:nth-child(even) {
            background: $primaryColor;
        }

        &:nth-child(odd) {
            background: white;
        }
    }

    &-products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
        gap: 3rem;
        margin: 2rem;

        li {
            list-style: none;
            text-align: center;

            a {
                text-decoration: none;
            }
        }
    }

    &-title {
        font-size: 40px;
        padding: 2rem;
        font-weight: 400;
    }

    &-image {
        width: 100%;
        height: auto;
        border-radius: 3rem;
    }
}