
@import "buttons";

@mixin userForm (){
    

    .userForm{
        display: grid;
        padding: 1.5rem;
        font-size:2rem;
        justify-items: center;
        height: 100%;
     
        &-title{
            display: grid;
            padding: 4rem;
            align-items: end;
            justify-content: end;
        }
        &-form{
            display: grid;
            padding: 4rem;
            border-radius: 4rem;
            border: 1px solid $textColor;
            justify-items: center;
            gap: 1.6rem;
            height: fit-content;
            &-label{
                font-weight:bold;
                font-size: 3rem;
            }
            &-item{
                p{
                    margin-left: 1rem;
                    font-size: 1.1rem;
                    font-weight:bold;
                    padding: 0.3rem;
                }
            }
            input{
                padding: 1rem;
                border:1px solid $textColor;
                border-radius: 3rem;
                min-width: 25rem;
            }
            &-help{
              max-width: 24rem;
                p{
                    font-size: 1.3rem;
                    text-align: start;
                }
            }
        }
    }
    
}