
@import "buttons";

@mixin userForm (){
    

    .userForm{
        display: grid;
        padding: 1.5rem;
        font-size:2rem;
        justify-items: center;
        height: 100%;
     
        &-logo {
            width: 22rem;
        }

        &-title{
            display: grid;
            padding: 4rem;
            align-items: end;
            justify-content: end;
        }
        &-form{
            display: grid;
            padding: 4rem;
            border-radius: 4rem;
            box-shadow: 0 3px 5px 0 black;
            justify-items: center;
            gap: 1.6rem;
            height: fit-content;

            &-label{
                font-weight:bold;
                font-size: 2.4rem;
            }
            &-item{
                p{
                    margin-left: 1rem;
                    font-size: 1.6rem;
                    font-weight:bold;
                    padding: 0.3rem;
                }
                span{
                  font-size: 1.4rem;  
                }
                input{
                padding: 1rem;
                border:1px solid $textColor;
                border-radius: 3rem;
                min-width: 29rem;
            }
            }
            &-uploadPhoto{
                display: flex;
                width: 26.1rem;
                align-items: end;
                justify-content: space-between;
                &-text{
                    p{  
                        font-size: 1.6rem;
                        font-weight:bold;
                    }
                }
                &-button{
                    input{
                        width: 13.2rem;
                        height:2.2rem ;
                      
                    }
                }
            }
            &-avatar{
                img{
                    height:12rem ;
                    width:12rem ;
                }
            }
            &-userInfo{
                display: flex;
                width: 26.1rem;
                align-items: end;
                justify-content: space-between;
                p{
                    font-size:1.3rem ;
                    text-align: left;
                    font-weight:bold;
                    font-size: 1.6rem;
                }
                input{
                    padding: 0.2rem;
                    border:1px solid $textColor;
                    border-radius: 3rem;   
                } 
            }
            &-help{
              max-width: 24rem;
                p{
                    font-size: 1.3rem;
                    text-align: start;
                }
            }
            &-error{
                color:  #FF6169;
                font-size: 1.5rem;
                //list-style: none;
            }
        }
    }
    
    .already-account{
        margin: 10px 0 20px 0;
    }
}