.order {
    &-title {
        // padding-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }

    &-section {
        padding: 3vh 20vw 3vh 20vw;
    }

    &-product {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        align-items: center;

        padding: 2rem 0rem 2rem 0rem;

        &-name {
            margin-bottom: 1rem;
        }

        &-image {
            width: 15rem;
            border-radius: 1.6rem;
        }

        &-price {
            text-align: end;

            p {
                margin-bottom: 0.5rem;
            }
        }

        &-list {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    &-total {
        margin-top: 2rem;
        text-align: end;
    }
}

.material-symbols-outlined {
    text-align: end;
    font-size: 3rem;
}