shoppingcart-article {
    padding: 10px;
    float: left;
}

shoppingcart-aside {
    width: 40%;
    float: right;
    background-color: green;
    color: white;
    padding: 5px;
    margin: 10px;
    height: 100px;
}
