.profile {
    .user {
        &-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
            justify-items: center;
            align-items: center;
        }

        &-img {
            display: inline-block;
            position: relative;
            width: 15rem;
            height: 15rem;
            overflow: hidden;
            border-radius: 50%;

            img {
                width: auto;
                height: 100%;
                // margin-left: -50px;
            }
        }

        &-info {
        }

        &-name {
            margin-bottom: 1rem;
            font-weight: 700;
            font-size: 24px;
        }
    }
}