<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
        />
        <link rel="stylesheet" href="/marketPlace/public/css/style.css" />
    </head>
    <body>
        <header>
            <div class="logoHeader">
                <img
                    src="/marketPlace/resources/images/LogoFooter.png"
                    alt="Logo"
                />
            </div>

            <div class="headerOptions">
                <div class="buscador">
                    <select id="selectCategories">
                        <option value="">Totes les categories</option>
                        <option value="">Totes les categories</option>
                        <option value="">Totes les categories</option>
                    </select>
                    <input
                        type="search"
                        name=""
                        id="search"
                        placeholder="Introduce el articulo que quieres buscar"
                    />
                    <span
                        class="material-symbols-rounded"
                        id="headerButtonSearch"
                    >
                        search
                    </span>
                </div>
                <div class="login">
                    <button>Registra't / Inicia Sessió</button>
                </div>
                <div class="cartAndProfile" style="display: none">
                    <div>
                        <span class="material-symbols-outlined">
                            shopping_cart
                        </span>
                    </div>

                    <div>
                        <span class="material-symbols-outlined"> person </span>
                    </div>
                </div>
            </div>
        </header>

        <footer>
            <div class="footer-content">
                <img
                    src="/marketPlace/resources/images/LogoFooter.png"
                    alt="Logo"
                />
                <div class="creators">
                    <p>Mariam Pipoyan Paronyan</p>
                    <p>Daniel Rodríguez Saez</p>
                    <p>Jaume Cadafalch Miró</p>
                    <p>Adrián Ramírez Masagú</p>
                </div>
                <p class="copyright">&copy; Copyright 2023 Craft Made</p>
            </div>
        </footer>
    </body>
</html>
