$primaryColor: #88a8f9;
$textColor: #000000;
html {
    font-size: 62.5%;
    /* 1 rem = 10 px*/
    position: relative;
    min-height: 100%;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    /* 1 rem = 10 px*/
}

body {
    margin-bottom: 12rem;
}

.content--section {
    margin: 3rem 10rem 0rem 10rem;
    font-size: 1.6rem;
}

@media (max-width: 400px) {
    .content--section {
        margin: 3rem 3rem 0rem 3rem;
    }
}

// Arxius importats, codi dividit en arxius de manera mes organitzada
// Compta de posar amb '';

@import "header";
@import "footer";
@import "home";
